name: Package and Release

on:
  push:
    tags:
      - 'v*'
    branches:
      - develop
      - 'feature/**'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set release type
        id: release_type
        run: |
          args="-m pkgmeta.yaml"
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            echo "No args for stable release"
          elif [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
            args="${args} -n {package-name}-{project-version}{beta}{nolib}{classic}:{project-version}{beta}{classic}{nolib}"
          else
            args="${args} -n {package-name}-{project-version}{alpha}{nolib}{classic}:{project-version}{alpha}{classic}{nolib}"
          fi
          echo $args >> $GITHUB_OUTPUT

      - name: Package and Release
        uses: BigWigsMods/packager@v2
        with:
          args: ${{ steps.release_type.outputs.args }}
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
